body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  margin: 40px auto;
  max-width: 700px;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 20px;
}

table {
  width: 100%;
}

table th {
  border-bottom: 1px solid #dee2e6;
  padding: 5px 10px;
}

table th + th {
  border-left: 1px solid #dee2e6;
}

table td {
  text-align: center;
}
